# 시퀀스

## 2.2 지능형 리스트와 제너레이터 표현식

### 2.2.1 지능형 리스트와 가독성

In [1]:
# 예제 2-1 문자열에서 유니코드 코드포인트 리스트 만들기(버전 1)
symbols = '$¢£¥€¤'
codes = []
for symbol in symbols:
    codes.append(ord(symbol))

codes

[36, 162, 163, 165, 8364, 164]

In [2]:
# 예제 2-2 문자열에서 유니코드 코드포인트 리스트 만들기 (버전 2)
symbols = '$¢£¥€¤'
codes = [ord(symbol) for symbol in symbols]
codes

[36, 162, 163, 165, 8364, 164]

In [3]:
# 파이썬 3 버전에서 for문에서 사용된 변수는 처음 설정되었던 값을 건드리지 않는다
x = 'ABC'
dummy = [ord(x) for x in x]
print(x) # x의 값이 유지된다
print(dummy) # 지능형 리스트도 제대로 작동한다

ABC
[65, 66, 67]

### 2.2.2 지능형 리스트와 map()/filter() 비교

In [4]:
# 예제 2-3 지능형 리스트와 맵/필터 구성으로 만든 동일 리스트
symbols = '$¢£¥€¤'
beyond_ascii = [ord(s) for s in symbols if ord(s) > 127]
print(beyond_ascii)

beyond_ascii = list(filter(lambda c: c > 127, map(ord, symbols))) # map, filter 조합이 더 빠르지 않다
print(beyond_ascii)

[162, 163, 165, 8364, 164]
[162, 163, 165, 8364, 164]

### 2.2.3 데카르트 곱

In [5]:
# 예제 2-4 지능형 리스트를 이용한 데카르트 곱
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for color in colors for size in sizes] # color 다음에 size를 배치해서 만든 튜플 리스트
print(tshirts)

for color in colors: # color를 반복하는 루프 안에서 sizes를 반복해서 튜플 리스트 생성
    for size in sizes:
        print((color, size))

tshirts = [(color, size) for size in sizes # size 다음에 color를 배치해서 만든 튜플 리스트
                         for color in colors]
print(tshirts)

[('black', 'S'), ('black', 'M'), ('black', 'L'), ('white', 'S'), ('white', 'M'), ('white', 'L')]
('black', 'S')
('black', 'M')
('black', 'L')
('white', 'S')
('white', 'M')
('white', 'L')
[('black', 'S'), ('white', 'S'), ('black', 'M'), ('white', 'M'), ('black', 'L'), ('white', 'L')]

In [6]:
# 예제 1-1의 예시
import collections

Card = collections.namedtuple('Card', ['rank', 'suit'])

class FrenchDeck:
    ranks = [str(n) for n in range(2, 11)] + list('JQKA')
    suits = 'spades diamonds clubs hearts'.split()

    def __init__(self):
        # 다음 코드를 이용해서 13가지 순위와 4가지 종류로 구성된 52장의 카드 한 벌을 초기화
        self._cards = [Card(rank, suit) for suit in self.suits
                                       for rank in self.ranks]

    def  __len__(self):
        return len(self._cards)

    def __getitem__(self, position):
        return self._cards[position]

In [7]:
# 예제 2-5 제너레이터 표현식에서 튜플과 배열 초기화하기
symbols = '$¢£¥€¤'
# 제너레이터 표현식이 함수에 보내는 단 하나의 인수라면 괄호 안에 또 괄호를 넣을 필요는 없다
print(tuple(ord(symbol) for symbol in symbols)) 

import array

# 배열 생성자는 인수를 두개 받으므로 제너레이터 표현식 앞뒤에 반드시 괄호를 넣어야 한다 (배열 생성자의 첫 번째 인수는 저장할 자료형을 지정한다)
print(array.array('I', (ord(symbol) for symbol in symbols)))

(36, 162, 163, 165, 8364, 164)
array('I', [36, 162, 163, 165, 8364, 164])

In [8]:
# 예제 2-6 제너레이터 표현식에서의 데카르트 곱
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
# 제너레이터 표현식은 한번에 하나의 항목을 생성한다. 리스트는 생성하지 않는다
for tshirt in ('%s %s' % (c, s) for c in colors for s in sizes): 
    print(tshirt)

black S
black M
black L
white S
white M
white L

## 2.3 튜플은 단순한 불변 리스트가 아니다

### 2.3.1 레코드로서의 튜플

In [9]:
# 예제 2-7 레코드로 사용된 튜플
lax_coordinates = (33.9425, -118.408056) # LA 국제공항의 위도, 경도
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014) # 지명, 년도, 백만 단위 인구수, 인구 변화율, 제곱킬로미터 단위 면적
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), # 국가코드, 여권 번호
                ('ESP', 'XDA205856')]
for passport in sorted(traveler_ids): # 리스트를 반복할 때 passport 변수가 각 튜플에 바인딩 됨
    print('%s/%s' % passport)

for country, _ in traveler_ids: # 두 번째 항목에는 관심이 없으므로 더미 변수를 나타내는 _를 활용
    print(country)

BRA/CE342567
ESP/XDA205856
USA/31195855
USA
BRA
ESP

### 2.3.2 튜플 언패킹

In [10]:
lax_coordinates = (33.9425, -118.408056)
latitude, longitude = lax_coordinates # 튜플 언패킹
latitude
longitude

-118.408056

In [11]:
a = 1
b = 2
# 튜플 언패킹을 사용하면 임시 변수를 사용하지 않고도 두 변수의 값을 교환할 수 있다
a, b = b, a
print(f'a: {a}, b: {b}')

a: 2, b: 1

In [12]:
print(divmod(20, 8))

t = (20, 8)
print(divmod(*t)) # 함수를 호출할 때 인수 앞에 *을 붙혀 튜플을 언패킹할 수 있다

quotient, remainder = divmod(*t)
print((quotient, remainder))

(2, 4)
(2, 4)
(2, 4)

In [13]:
import os
_, filename = os.path.split('/home/luciano/.ssh/idrsa.pub') # _: 플레이스 홀더
print(filename)

idrsa.pub

In [14]:
# 함수 매개변수에 *를 사용해서 초과된 인수를 가져올 수 있다
a, b, *rest = range(5)
print(a, b, rest)

a, b, *rest = range(3)
print(a, b, rest)

a, b, *rest = range(2)
print(a, b, rest)

0 1 [2, 3, 4]
0 1 [2]
0 1 []

In [15]:
# 병렬 할당의 경우 *는 한 가지의 변수에만 사용이 가능하다
a, *body, c, d = range(5)
print(a, body, c, d)

*head, b, c, d = range(5)
print(head, b, c, d)

0 [1, 2] 3 4
[0, 1] 2 3 4

### 2.3.3 내포된 튜플 언패킹

In [16]:
# 예제 2-8 longitude에 접근하기 위해 내포된 튜플 언패킹하기
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)), # 마지막 필드는 좌표쌍
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'Br', 19.649, (-23.547778, -46.635833)),
]

print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:^9.4f} | {:^9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas: # 마지막 필드를 튜플에 할당함으로써 좌표를 언패킹한다
    if longitude <= 0: # 경도가 음수인 서반구 도시만 출력
        print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Mexico City     |  19.4333  | -99.1333
New York-Newark |  40.8086  | -74.0204
Sao Paulo       | -23.5478  | -46.6358

### 2.3.4 명명된 튜플

In [17]:
# 예제 1-1의 예시
import collections

# 예제 1-1 에서 Card 클래스를 정의한 방법
Card = collections.namedtuple('Card', ['rank', 'suit'])

class FrenchDeck:
    ranks = [str(n) for n in range(2, 11)] + list('JQKA')
    suits = 'spades diamonds clubs hearts'.split()

    def __init__(self):
        self._cards = [Card(rank, suit) for suit in self.suits
                                       for rank in self.ranks]

    def  __len__(self):
        return len(self._cards)

    def __getitem__(self, position):
        return self._cards[position]

In [18]:
# 예제 2-9 명명된 튜플형을 정의하고 사용하기
from collections import namedtuple
# 명명된 튜플을 정의하려면 클래스명, 필드명의 리스트(반복형 문자열 or 공백으로 구분된 하나의 문자열) 등 총 두개의 매개변수가 필요하다
City = namedtuple('City', 'name country population coordicates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667)) # 데이터는 위치를 맞추고 콤바로 구분해서 생성자에 전달해야 한다
print(tokyo)

print(tokyo.population) # 필드명을 이용해서 필드에 접근

print(tokyo[1]) # 위치를 이용해서 필드에 접근

City(name='Tokyo', country='JP', population=36.933, coordicates=(35.689722, 139.691667))
36.933
JP

In [19]:
# 예제 2-10 명명된 튜플의 속성과 메서드
print(City._fields) # _fields는 클래스의 필드명을 담고 있는 튜플
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))
delhi = City._make(delhi_data) # _make()는 반복형 객체로부터 명명된 튜플을 만든다. City(*delhi_data)를 호출하는 코드와 동일한 역할을 수행
print(delhi._asdict()) # _asdict()는 명된 튜플 객체에서 만들어진 collections.OrderedDict 객체를 반환한다
for key, value in delhi._asdict().items():
    print(key + ':', value)

('name', 'country', 'population', 'coordicates')
OrderedDict([('name', 'Delhi NCR'), ('country', 'IN'), ('population', 21.935), ('coordicates', LatLong(lat=28.613889, long=77.208889))])
name: Delhi NCR
country: IN
population: 21.935
coordicates: LatLong(lat=28.613889, long=77.208889)

## 2.4 슬라이싱

### 2.4.1 슬라이스와 범위 지정시에 마지막 항목이 포함되지 않는 이유

In [20]:
"""
1. range(3), my_list[:3] 처럼 중단점만 이용할 때 길이를 계산하기 쉽다
2. 시작점과 중단점을 모두 지정할 때도 길이 계산이 쉽다 (중단점 - 시작점)
3. 아래 예제처럼 x인덱를 기준으로 겹침 없이 시퀀스를 분할하기 쉽다
"""
l = [10, 20, 30, 40, 50, 60]
print(l[:2])
print(l[2:])
print(l[:3])
print(l[3:])

[10, 20]
[30, 40, 50, 60]
[10, 20, 30]
[40, 50, 60]

### 2.4.2 슬라이스 객체

In [21]:
"""
s[a:b:c]는 c 보폭만큼씩 항목을 건너뛰는 것
"""
s = 'bicycle'
print(s[::3])
print(s[::-1])
print(s[::-2])

bye
elcycib
eccb

In [22]:
# 1장에서는 이런식으로 Ace카드만 추려내는데 사용
deck = FrenchDeck()
print(deck[12::13])

[Card(rank='A', suit='spades'), Card(rank='A', suit='diamonds'), Card(rank='A', suit='clubs'), Card(rank='A', suit='hearts')]

In [23]:
# 예제 2-11 단순 텍스트 파일 청구서의 행 항목들
"""
각 슬라이스에 이름을 붙이면 가독성이 좋아진다
"""

invoice = """
0.....6.................................40........52..55........
1909  Pimoroni PiBrella                     $17.70   3    $52.50
1489  6mm Tactile Switch x20                 $4.95   2     $9.90
1510  Panavise Jr. - PV-201                 $28.00   1    $28.00
1601  PiTFT Mini Kit 320x240                $24.95   1    $34.95
"""

SKU = slice(0, 6)
DESCRIPTION = slice(6, 40)
UNIT_PRICE = slice(40, 52)
ITEM_TOTAL = slice(52, 55)
ITEM_TOTAL = slice(55, None)
line_items = invoice.split('\n')[2:]
for item in line_items:
    print(item[UNIT_PRICE], item[DESCRIPTION])

    $17.70   Pimoroni PiBrella
     $4.95   6mm Tactile Switch x20
    $28.00   Panavise Jr. - PV-201
    $24.95   PiTFT Mini Kit 320x240

### 2.4.3 다차원 슬라이싱과 생략 기호

생략 기호 객체는 f(a, ..., z)처럼 함수의 인수나, a[i:...]처럼 슬라이스의한 부분으로 전달할 수 있다.    
numpy에서는 x[i, ...]처럼 사용 (x[i, :, :, :,]와 동일])

### 2.4.4 슬라이스에 할당하기

In [24]:
l = list(range(10))
print(l)
l[2:5] = [20, 30]
print(l)
del l[5:7]
print(l)
l[3::2] = [11, 12]
print(l)

"""
l[2:5] = 100
TypeError: can only assign an iterable
"""

l[2:5] = [100]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 20, 30, 5, 6, 7, 8, 9]
[0, 1, 20, 30, 5, 8, 9]
[0, 1, 20, 11, 5, 12, 9]
[0, 1, 100, 12, 9]

## 2.5 시퀀스에 덧셈과 곱셈 연산자 사용하기